<p-treeSelect
  [formControl]="formControl"
  [formlyAttributes]="field"
  [inputId]="props?.inputId ?? null"
  [scrollHeight]="props?.scrollHeight ?? '400px'"
  [disabled]="props?.disabled ?? false"
  [metaKeySelection]="props?.metaKeySelection ?? false"
  [variant]="props?.variant ?? 'outlined'"
  [display]="props?.display ?? 'comma'"
  [selectionMode]="props?.selectionMode ?? 'single'"
  [tabindex]="(props?.tabindex)?.toString() ?? '0'"
  [ariaLabel]="props?.ariaLabel ?? null"
  [ariaLabelledBy]="props?.ariaLabelledBy ?? null"
  [placeholder]="props?.placeholder ?? null"
  [panelClass]="props?.panelClass ?? null"
  [panelStyle]="props?.panelStyle ?? null"
  [panelStyleClass]="props?.panelStyleClass ?? null"
  [containerStyle]="props?.containerStyle ?? null"
  [containerStyleClass]="props?.containerStyleClass ?? null"
  [labelStyle]="props?.labelStyle ?? null"
  [labelStyleClass]="props?.labelStyleClass ?? null"
  [overlayOptions]="props?.overlayOptions ?? null"
  [emptyMessage]="props?.emptyMessage ?? null"
  [appendTo]="props?.appendTo ?? null"
  [filter]="props?.filter ?? false"
  [filterBy]="props?.filterBy ?? 'label'"
  [filterMode]="props?.filterMode ?? 'lenient'"
  [filterPlaceholder]="props?.filterPlaceholder ?? null"
  [filterLocale]="props?.filterLocale ?? null"
  [filterInputAutoFocus]="props?.filterInputAutoFocus ?? true"
  [propagateSelectionDown]="props?.propagateSelectionDown ?? true"
  [propagateSelectionUp]="props?.propagateSelectionUp ?? true"
  [showClear]="props?.showClear ?? false"
  [resetFilterOnHide]="props?.resetFilterOnHide ?? true"
  [virtualScroll]="props?.virtualScroll ?? false"
  [virtualScrollItemSize]="props?.virtualScrollItemSize ?? null"
  [virtualScrollOptions]="props?.virtualScrollOptions ?? null"
  [autofocus]="props?.autofocus ?? false"
  [options]="props?.options ?? null"
  [showTransitionOptions]="props?.showTransitionOptions ?? null"
  [hideTransitionOptions]="props?.hideTransitionOptions ?? null"
  [loading]="props?.loading ?? false"
  [required]="props?.required ?? false"
  (onNodeExpand)="props?.onNodeExpand?.(this, $event)"
  (onNodeCollapse)="props?.onNodeCollapse?.(this, $event)"
  (onShow)="props?.onShow?.(this, $event)"
  (onHide)="props?.onHide?.(this, $event)"
  (onClear)="props?.onClear?.(this, $event)"
  (onFilter)="props?.onFilter?.(this, $event)"
  (onFocus)="props?.onFocus?.(this, $event)"
  (onBlur)="props?.onBlur?.(this, $event)"
  (onNodeUnselect)="props?.onNodeUnselect?.(this, $event)"
  (onNodeSelect)="props?.onNodeSelect?.(this, $event)"
>
  <ng-template *ngIf="props?.valueTemplate" let-item let-placeholder="placeholder" pTemplate="value">
    <ng-container
      *ngTemplateOutlet="props.valueTemplate; context: { $implicit: item, placeholder: placeholder }"
    ></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.headerTemplate" let-item let-options="options" pTemplate="header">
    <ng-container
      *ngTemplateOutlet="props.headerTemplate; context: { $implicit: item, options: options }"
    ></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.emptyTemplate" pTemplate="empty">
    <ng-container *ngTemplateOutlet="props.emptyTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.footerTemplate" pTemplate="footer">
    <ng-container *ngTemplateOutlet="props.footerTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.clearIconTemplate" pTemplate="clearicon">
    <ng-container *ngTemplateOutlet="props.clearIconTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.triggerIconTemplate" pTemplate="triggericon">
    <ng-container *ngTemplateOutlet="props.triggerIconTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.filterIconTemplate" pTemplate="filtericon">
    <ng-container *ngTemplateOutlet="props.filterIconTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.closeIconTemplate" pTemplate="closeicon">
    <ng-container *ngTemplateOutlet="props.closeIconTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.itemTogglerIconTemplate" let-expanded pTemplate="itemtogglericon">
    <ng-container *ngTemplateOutlet="props.itemTogglerIconTemplate; context: { $implicit: expanded }"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.itemCheckboxIconTemplate" pTemplate="itemcheckboxicon">
    <ng-container *ngTemplateOutlet="props.itemCheckboxIconTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.itemLoadingIconTemplate" pTemplate="itemloadingicon">
    <ng-container *ngTemplateOutlet="props.itemLoadingIconTemplate"></ng-container>
  </ng-template>
</p-treeSelect>
