<p-password
  appendTo="body"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [ariaLabel]="props?.ariaLabel"
  [ariaLabelledBy]="props?.ariaLabelledBy"
  [label]="props?.label"
  [disabled]="props.disabled ?? false"
  [promptLabel]="props?.promptLabel"
  [weakLabel]="props?.weakLabel"
  [mediumLabel]="props?.mediumLabel"
  [maxLength]="props?.maxLength"
  [strongLabel]="props?.strongLabel"
  [inputId]="props?.inputId"
  [feedback]="props.feedback ?? true"
  [toggleMask]="props.toggleMask ?? false"
  [inputStyleClass]="props?.inputStyleClass"
  [styleClass]="props?.styleClass"
  [style]="props?.style"
  [inputStyle]="props?.inputStyle"
  [showTransitionOptions]="props.showTransitionOptions ?? '.12s cubic-bezier(0, 0, 0.2, 1)'"
  [hideTransitionOptions]="props.hideTransitionOptions ?? '.1s linear'"
  [autocomplete]="props?.autocomplete"
  [placeholder]="props?.placeholder"
  [showClear]="props.showClear ?? false"
  [autofocus]="props.autofocus ?? false"
  [variant]="props.variant ?? 'outlined'"
  (onFocus)="props.onFocus ? props.onFocus($event) : null"
  (onBlur)="props.onBlur ? props.onBlur($event) : null"
  (onClear)="props.onClear ? props.onClear($event) : null"
>
  <ng-template *ngIf="props?.headerTemplate" pTemplate="header">
    <ng-container *ngTemplateOutlet="props.headerTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.contentTemplate" pTemplate="content">
    <ng-container *ngTemplateOutlet="props.contentTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.footerTemplate" pTemplate="footer">
    <ng-container *ngTemplateOutlet="props.footerTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.clearIcon" pTemplate="clearicon">
    <span [class]="'icon pi ' + props.clearIcon"></span>
  </ng-template>

  <ng-template *ngIf="props?.hideIcon" pTemplate="hideicon">
    <span [class]="'icon pi ' + props.hideIcon"></span>
  </ng-template>

  <ng-template *ngIf="props?.showIcon" pTemplate="showicon">
    <span [class]="'icon pi ' + props.showIcon"></span>
  </ng-template>
</p-password>
