<form [formGroup]="form">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
</form>

<ng-template #option let-option>
  <div class="flex align-items-center gap-2">
    <img
      src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
      *ngIf="option.states"
      [class]="'flag flag-' + option.code.toLowerCase()"
    />
    <i class="pi pi-compass mr-2" *ngIf="option.cities"></i>
    <i class="pi pi-map-marker mr-2" *ngIf="option.cname"></i>
    <span>{{ option.cname ?? option.name }}</span>
  </div>
</ng-template>
