<p-cascadeSelect
  [formControl]="formControl"
  [formlyAttributes]="field"
  [id]="props?.id ?? null"
  [selectOnFocus]="props?.selectOnFocus ?? false"
  [searchMessage]="props?.searchMessage ?? null"
  [emptyMessage]="props?.emptyMessage ?? null"
  [selectionMessage]="props?.selectionMessage ?? null"
  [emptySearchMessage]="props?.emptySearchMessage ?? null"
  [emptySelectionMessage]="props?.emptySelectionMessage ?? null"
  [searchLocale]="props?.searchLocale ?? null"
  [optionDisabled]="props?.optionDisabled ?? null"
  [autoOptionFocus]="props?.autoOptionFocus ?? true"
  [styleClass]="props?.styleClass ?? null"
  [style]="props?.style ?? null"
  [options]="$any(props?.options) ?? null"
  [optionLabel]="props?.optionLabel ?? null"
  [optionValue]="props?.optionValue ?? null"
  [optionGroupLabel]="props?.optionGroupLabel ?? null"
  [optionGroupChildren]="props?.optionGroupChildren ?? null"
  [placeholder]="props?.placeholder ?? null"
  [value]="props?.value ?? null"
  [dataKey]="props?.dataKey ?? null"
  [inputId]="props?.inputId ?? null"
  [tabindex]="props?.tabindex ?? 0"
  [ariaLabelledBy]="props?.ariaLabelledBy ?? null"
  [inputLabel]="props?.inputLabel ?? null"
  [ariaLabel]="props?.ariaLabel ?? null"
  [appendTo]="props?.appendTo ?? null"
  [disabled]="props?.disabled ?? false"
  [showClear]="props?.showClear ?? false"
  [panelStyleClass]="props?.panelStyleClass ?? null"
  [panelStyle]="props?.panelStyle ?? null"
  [overlayOptions]="props?.overlayOptions ?? null"
  [autofocus]="props?.autofocus ?? false"
  [showTransitionOptions]="props?.showTransitionOptions ?? null"
  [variant]="props?.variant ?? 'outlined'"
  [loading]="props?.loading ?? false"
  [loadingIcon]="props?.loadingIcon ?? null"
  [hideTransitionOptions]="props?.hideTransitionOptions ?? null"
  (onChange)="props?.change?.(this, $event)"
  (onGroupChange)="props?.groupChange?.(this, $event)"
  (onShow)="props?.show?.(this, $event)"
  (onHide)="props?.hide?.(this, $event)"
  (onClear)="props?.clear?.(this, $event)"
  (onBeforeShow)="props?.beforeShow?.(this, $event)"
  (onBeforeHide)="props?.beforeHide?.(this, $event)"
  (onFocus)="props?.focus?.(this, $event)"
  (onBlur)="props?.blur?.(this, $event)"
>
  <ng-template *ngIf="props?.valueTemplate" let-value pTemplate="value">
    <ng-container *ngTemplateOutlet="props.valueTemplate; context: { $implicit: value}"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.optionTemplate" let-option pTemplate="option">
    <ng-container *ngTemplateOutlet="props.optionTemplate; context: { $implicit: option }"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.triggerIconTemplate" pTemplate="triggericon">
    <ng-container *ngTemplateOutlet="props.triggerIconTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.clearIconTemplate" pTemplate="clearicon">
    <ng-container *ngTemplateOutlet="props.clearIconTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.optionGroupIconTemplate" pTemplate="optiongroupicon">
    <ng-container *ngTemplateOutlet="props.optionGroupIconTemplate"></ng-container>
  </ng-template>

  <ng-template *ngIf="props?.loadingIconTemplate" pTemplate="loadingicon">
    <ng-container *ngTemplateOutlet="props.loadingIconTemplate"></ng-container>
  </ng-template>
</p-cascadeSelect>
